@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; 
    grid-gap: 1rem;
    margin-left: 0.5%;
    padding-bottom: 2%;   
}

.home{
    background: #232631;
    min-height: 100vh;
}

.poke{
    border: 2px solid rgb(51, 51, 51);
    display: block;
    padding: 10px;
    width: 10%;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 1%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #09113f;

    transition: all 0.5s ease;

}

.poke:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.sortfilter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    position: relative;
}

.sortfilter select option{
    padding: 3%;
}

select {
    cursor: pointer;
    box-shadow: none;
    background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
    width: 10%;
    height: 4%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-right: 1.26em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500; 
    border-radius: 8px;
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #09113f;
    margin-top: 50px;
}

option {  
  background-color: #232631;
}

/* Loading  */

.loading{
    position: absolute;
    width: 95%;
    max-height: 50vh;
    background: #232631;
    padding-top: 5%;
    
}

.loadingtext{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.notfound{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    max-width: 100vw;

    animation-duration: 450ms;
    animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
    animation-fill-mode: both;
    animation-name: picImage;
}

.notfound span{
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    letter-spacing: 1px;
}


@keyframes picImage {
    from {
    opacity: 0;
    transform: scale(1.2) translateY(-1rem);
    }
    to {
    opacity: 1;
    transform: scale(1) translateY(0);
    }
  }