@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.show{
  display: block;
}
.hide{
  display: none;
}

.pagina{
  background: #232631;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.pagina button{
  border: 2px solid rgb(51, 51, 51);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-left:  0%;
  background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
  background-position: 90% 0;
  background-size: 200% 200%;
  box-shadow: 0 2px 8px -1px #09113f;

  transition: all 0.5s ease;
}
 .pagina button:hover{
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
 }

 .createImage {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: center; /* Centra verticalmente */
  height: 20vh; /* Esto asegura que ocupe toda la altura de la página */
  margin-top: 20%;
  margin-left: 3%; /* Ajusta este valor para moverlo más a la izquierda */
  margin-right: auto;
}


.img{
  margin-right: 15%;
  margin-top: 3%;
}

.back{
  position: fixed;
  left: 8%;
  top: 4%;
}

.container{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5% rgba(0, 0, 0, 0.3);
  width: 38rem;
  max-width: 50%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  right: 0%;
  padding-bottom: 4%;
  position: relative;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin-right: 0.4%;
}

.formdiv{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.formdiv label{
  display: flex;
  margin-left: 5%;
  margin-bottom: 5px;
}

.formdiv input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin-left: 2vw;
}


.formdiv i {
  position: absolute;
  top: 40px;
  left: 54%
}

.formdiv p {
  position: absolute;
  top: 60%;
  left: 5%;
  font-size: 14px;
  color: #e74c3c;
}

.container button{
  border: 2px solid rgb(51, 51, 51);
  border-radius: 8px;
  color: #fff;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  margin-top: 8%;
  margin-left: 7%;
  background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
  background-position: 90% 0;
  background-size: 200% 200%;
  box-shadow: 0 2px 8px -1px #09113f;
}

.container .previous{
  background-color: rgb(181, 225, 228);
  border: 2px solid rgb(136, 209, 214);
  color: rgb(0, 0, 0);
  width: 40%;
  margin-top: 0%;
}

.container .create{
  width: 40%;
  color: rgb(218, 218, 218);
  margin-top: 0%;
  transition: all 0.4s ease; 
}
.container .create:hover{
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.choosetypes{
  margin-top: 2%;
  margin-left: 4%;
  font-size: 20px;
  font-weight: 500;
}

.typeserror{
  position: absolute;
  font-size: 15px;
  display: flex;
  bottom: -8%;
  left: 4%;
  color: #e74c3c
}

.containertypes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  margin-left: 4%;
  margin-bottom: 12%;
  margin-top: 4%;
}

.containertypes label{
  cursor: pointer;
  margin-bottom: 4%;
}

.containertypes label input[type='checkbox'] {
  display: none;
}

.containertypes label input[type='checkbox']:checked + .typesimg {
  filter: grayscale(0%) opacity(0.95);
}

.containertypes label:hover .typesimg {
  filter: grayscale(0%) opacity(0.95);
}

.bytype {
  display: flex;
  align-items: center;
}

.typesimg {
  filter: grayscale(100%) opacity(0.5);
  transition: filter 0.3s, opacity 0.3s;
}


/* Arrows from input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
